.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: clamp(16px, 5vw, 24px);
    padding-right: clamp(16px, 5vw, 24px);
    box-sizing: border-box;
    @media screen and (max-width: 480px) {
        max-width: 480px;
        padding: 0px 16px;
    }
}