.footer {
    margin-top: 220px;
    background: var(--natural_dark_grey, #1F1E22);
    padding: 24px 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @media screen and (max-width: 480px) {
        flex-direction: column;   
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 49%;
    @media screen and (max-width: 480px) {
        width: 100%;   
        align-items: center;
    }
}

.line {
    padding-left: 17px;
    border-left: 2px solid rgba(255, 255, 255, 0.27);
    @media screen and (max-width: 480px) {
        padding-left: unset;
        border-left: unset;   
    }
}

.footer-year {
    color: var(--ffffff, rgba(255, 255, 255, 0.27));
    font-family: 'Urbanist';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    @media screen and (max-width: 480px) {
        display: none;   
    }
}

.footer-email {
    color: var(--primary_orange, #FF6121);

/* Text */
    font-family: "Albert Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 36.4px */
    text-transform: uppercase;

    padding: 32px 0px;
}

.footer-policy {
    color: var(--ffffff, rgba(255, 255, 255, 0.27));
    font-family: 'Urbanist';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.footer-menu {
    @media screen and (max-width: 480px) {
        display: flex; 
        flex-direction: column;  
        align-items: center;
        width: 100%;    
        gap: 16px;

        padding: 32px 0;
        margin-top: 32px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}